<div class="flex flex-col gap-2">
  <span [class]="hlmH4">All plants</span>
  @if (!isLoading()) {
    @if (plants().length === 0) {
      <div hlmAlert>
        <ng-icon hlm hlmAlertIcon name="lucideInfo" />
        <h4 hlmAlertTitle>No plants yet</h4>
      </div>
    } @else {
      <div class="flex flex-row gap-4">
        @for (plant of plants(); track plant.id) {
          <section class="w-full max-w-sm" hlmCard>
            <div hlmCardHeader>
              <img
                class="aspect-square rounded-sm object-cover"
                height="64"
                [alt]="plant.name"
                [src]="plant.plant_images[0].url"
              />

              <div hlmCardAction>
                <button class="size-8" hlmBtn size="icon" type="button" variant="ghost">
                  <ng-icon hlm name="lucideHeart" size="sm" />
                </button>
              </div>
            </div>

            <div hlmCardContent>
              <h3 hlmCardTitle>{{ plant.name }}</h3>
            </div>
          </section>
        }
      </div>
    }
  } @else {
    <hlm-skeleton class="h-100 w-sm rounded-xl" />
  }
</div>
